<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        
            {{ if .Site.IsMultiLingual }}
                {{ range $.Translations }}
                   <li><strong><a title="{{ .Language }}" href="{{ .Permalink }}">{{ .Language.Params.LanguageName }}</a></strong></li>
                {{ end }}
            {{ end }}
        
        {{- end }}
    </ul>
</nav>
